body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 380px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 15px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: darkblue;
}